.projet {
    img {
        grid-column: 1/ span 10;
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    .mandat {
        grid-column: 1 / span 16;
        position: relative;
        img {
            width: 62.5%;
        }
        .description {
            padding: 2vh;
            position: absolute;
            margin-left: 56.25%;
            margin-right: 6.25%;
            bottom: 20%;
            backdrop-filter: blur(10px);
            text-align: justify;
        }
        .description:before {
            content: "";
            position: absolute;
            background-color: rgba(250, 250, 250, 0.7);
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: inset 0 0 2000px rgba(250, 250, 250, .5);
            filter: blur(10px);
            margin: -30px;
        }
    }
    .cahierCharge {
        grid-column: 1 / span 16;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vh;
        padding-top: 30vh;
        .specifications {
            text-align: justify;
            width: 30%;
        }
        .scrollWrapper {
            display: flex;
            flex-direction: column;
            width: 62.5%;
            .img2 {
                height: 70vh;
                object-fit: cover;
                margin-bottom: 5vh;
            }
        }
    }
    .btnLink {
        grid-column: 1 /span 16;
        margin: 10vh auto 0 auto;
    }    
}

/*   Background   */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(220deg, rgba(255,199,69,1) 0%, rgba(0,99,98,1) 100%);
	background-repeat: no-repeat;
    .grainyBg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: url(../../images/grain.png);
        width: 100%;
        height: 100%;
        &.whiteBlended {
            background: url(../../images/grain.png),
                        linear-gradient(180deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 100%);
            background-blend-mode: screen;
        }
    }
}