.contactPage {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    h1 {
        font-size: clamp(1.25rem, 0.8818rem + 2.1818vw, 3.5rem); /* vp: 270 - 1920 / ft-size: 20 - 56 */
        animation: fadeInContact 0.4s ease-out; 
    }
    h4 {
        padding-top: 5vh;
        opacity: 0;
        animation: fadeInContact 0.4s ease-out; 
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
    }
    h1, h4 {
        position: relative;
    }
    h1::after, h4::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background-color: var(--secondary-color);
        height: 1px;
        width: 0%;
        transition: 0.2s ease-out;
        z-index: -1;
    }
    h1:hover::after, h4:hover::after {
        height: 0.8rem;
        transform: skewX(-15deg);
    }
    h1::after {
        animation: underlineAnimation 0.3s ease-out;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
    }
    h4::after {
        animation: underlineAnimation 0.3s ease-out;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }

    /*   Backgound   */
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -10;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(220deg, rgba(255,199,69,1) 0%, rgba(0,99,98,1) 100%);
        background-repeat: no-repeat;
        .grainyBg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: url(../../images/grain.png);
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes fadeInContact {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes underlineAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}