header {
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 100;
    transition: 0.4s ease-out;
    svg {
        height: 5vh;
        fill: var(--white);
    }
    nav {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            width: 60%;
            display: flex;
            justify-content: space-between;
            list-style: none;
        }
        button {
            display: none;
        }
    }
    hr {     
        width: 90%;
        margin: auto;
        border-top: solid 0.5px var(--white);
        border-bottom: none;
        transition: 0.4s ease-out;
    }
    &.headerScroll {
        background-color: rgba($color: #000000, $alpha: 0.3);
        backdrop-filter: blur(10px);
        transition: 0.4s ease-out;
        hr {
            display: none;
            transition: 0.4s ease-out;
        }
    }
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    header {
        nav {
            ul {
                display: none;
                &.active {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    top: 10vh;
                    right: 0;
                    width: 40vw;
                    background-color: antiquewhite;
                }
                li {
                    text-align: end;
                    padding: 1rem 3rem;
                    margin: 1rem 0;
                }
            }
            button {
                display: block;
            }
        }
    }
}